<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<data>
   <module name="PaperWorld">
      <default-module>newApp</default-module>
      <default-locale>en_us</default-locale>
      <background-colour>0x000000</background-colour>
      <uri>rtmp://localhost/paperworld3d</uri>
   </module>
   <game name="Aereon"></game>
   <game name="newApp"></game>
</data>

