.loadingTitle
{
	font-family: "Arial";
	font-size: 28px;
	font-style: bold;
	text-align: right;
	color: #697d0f;	
}

.demoTitle
{
	font-family: "Arial";
	font-size: 36px;
	text-align: left;
	color: #697d0f;
}

.loadingLabel
{
	font-family: "Arial";
	font-size: 200px;
	font-style: bold;
	text-align: right;
	color: #ffffff;
}